{% extends "::base.html.twig" %}

{% block title %}AppBundle:Client:logIn{% endblock %}

{% block body %}
    <div class="log-form">
        <h2>Login to your account</h2>
        <form action="{{ path('app_client_showclient') }}" method="post">
            <p>
            <input type="text" title="username" name="username" placeholder="username" />
            </p>
            <p><input type="password" title="password" name="password" placeholder="password" /></p>
            <button type="submit" class="btn btn-sm btn-primary" >Login</button>
            <a class="forgot btn navbar-btn" href="{{ path('app_client_showclient') }}">Forgot Username?</a>
        </form>
    </div><!--end log form -->


{% endblock %}
