{% extends '::base.html.twig' %}

{% block body %}
            <h2>Frumoasa adormită</h2>

            <p>A fost odată, în vremurile de demult, a fost un împărat şi-o împărăteasă, şi cum nu se îndurase soarta să
                le hărăzească un urmaş, nu trecea zi în care să nu se tânguie amândoi: "Cât de goală ne e casa şi ce
                fericiţi am fi de-am avea şi noi un copil!" Dar coconul cel mult dorit se lăsa aşteptat de multă
                vreme…Şi iată că-ntr-un sfârşit, pe când împărăteasa se scălda în apa unui râu, o broască sări din unde
                pe prundişul malului şi-i grăi astfel:

                – Află, Măria ta, că-ţi va fi îndeplinită dorinţa; căci până a nu trece anul, vei aduce pe lume o
                fetiţă.

                Şi se împlini întocmai ceea ce spusese broasca; împărăteasa născu o fetiţă, şi atâta era de frumoasă
                fetiţa, că împăratul nu-şi mai încăpea în piele de bucurie. Cum voia să se împărtăşească şi alţii din
                bucuria lui, Măria sa dădu o mare petrecere, la care pofti nu numai rudele, prietenii şi cunoscuţii, ci
                şi ursitoarele, ca să le câştige toată bunăvoinţa şi grija faţă de soarta copilei.</p>

            <div class="line"></div>

            <h2>Prinţul Fermecat</h2>
            <p>În toată ţara aceea erau treisprezece ursitoare, dar pentru că împăratul nu avea decât douăsprezece
                talere de aur în care să le servească bucatele, una din ele nu fu poftită la ospăţ. Petrecerea se
                prăznui cu mare strălucire şi, când fu să se încheie, ursitoarele înzestrară copila cu cele mai alese
                daruri: una îi hărăzi să se bucure de virtute, a doua, de frumuseţe, a treia, de bogăţie şi aşa, pe
                rând, ursitoarele îi dăruiră tot ce-şi poate dori omul pe lumea asta. În clipa când cea de-a unsprezecea
                ursitoare tocmai îşi sfârşea urarea, numai ce intră valvârtej cea de-a treisprezecea. Pasămite, venise
                să se răzbune pentru că nu fusese poftită şi ea la serbare. Şi, fără ca măcar să arunce cuiva vreo
                privire, rosti cu un glas tunător:

                – Când va împlini fata cincisprezece ani, să se-nţepe c-un fus şi să moară!
            <div class="line"></div>
            <h2>Fat frumos din peşteră </h2>
            <p>Apoi nu mai spuse nici un cuvânt şi, întorcând spatele la cei de faţă, părăsi sala tronului. Toţi
                încremeniseră de spaimă, dar cea de-a douăsprezecea ursitoare, care nu-i rostise încă urarea, se apropie
                de leagăn şi, fiindcă nu-i sta în putinţă să ridice blestemul, ci doar să-l mai îndulcească, glăsui aşa:

                – Dar să nu fie moartă, ci să cadă într-un somn adânc, care să ţină o sută de ani!

                Împăratul, care dorea din tot sufletul s-o ferească pe iubita sa copilă de năpasta blestemului, dădu
                poruncă să se pună pe foc toate fusele din împărăţie.

                În ăst timp, fetiţa creştea şi darurile cu care o înzestraseră ursitoarele îşi arătau roadele cu
                prisosinţă: era atât de frumoasă, de cuminte, de prietenoasă şi de înţeleaptă, că oricine o vedea o
                îndrăgea pe dată.</p>
            </p>
            <div class="line"></div>

    </div>


    </div>



{% endblock %}

